.photo-grid {
  display: grid;
  width: calc(100% - 32px);
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  grid-template-rows: auto;
  gap: 12px;
  padding: 64px 0 0;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    width: calc(100% - 48px);
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
    padding: 88px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    width: calc(100% - 96px);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 92px 0 0;
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    width: calc(100% - 96px);
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
  }
}
