.places {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 14px;
  width: 100%;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .places {
    width: calc(100% - 48px);
    padding: 38px 0 0;
    padding-top: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    width: calc(100% - 96px);
    padding-top: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    width: calc(100% - 296px);
  }
}

