.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 100%;
  padding-top: 48px;
}

@media screen and (min-width: 1024px) {
  .lead {
    width: calc(100% - 96px);
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    width: calc(100% - 296px);
    padding-top: 56px;
  }
}
