.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: calc(100% - 16px * 2);
  padding-top: 48px;
}

@media screen and (min-width: 768px) {
  .lead {
    width: calc(100% - 2 * 24px);
  }
}

@media screen and (min-width: 1024px) {
  .lead {
    width: calc(100% - 2 * 48px);
  }
}

@media screen and (min-width: 1280px) {
  .lead {
    width: calc(100% - 2 * 148px);
    padding-top: 56px;
  }
}

