.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 32px);
  padding: 16px auto 48px;
}

@media screen and (min-width: 768px) {
  .header {
    width: calc(100% - 48px);
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: calc(100% - 96px);
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 56px;
  }
}
