.place__text {
  font-size: 16px;
  line-height: 1.63;
  padding: 26px 16px 0;
  margin: 0;
}

.place__text:first-of-type {
  padding-top: 0;
}

@media screen and (min-width: 768px) {
  .place__text {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__text {
    font-size: 18px;
    line-height: 1.63;
  }
}


