.footer__link {
  font-size: 24px;
  line-height: 1;
  padding-bottom: 32px;
  margin: 0;
  transition: opacity 0.2s ease-in;
}

.footer__link:last-of-type {
  padding-right: 0;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.12;
    padding-right: 18px;
  }
}
