.cover {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 66px 0 0;
}

@media screen and (min-width: 768px) {
  .cover {
    padding: 90px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    padding: 92px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    width: calc(100% - 48px * 2);
  }
}
