.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  text-align: center;
  z-index: 1;
  margin: 0;  /**/
  padding-bottom: 32px;
  color: white;

  /* text-rendering: optimizeLegibility; */
}

@media screen and (max-width: 767px) {
  .cover__title {
      max-width: 288px;
      font-size: 32px;
      line-height: 1.09;
      padding-bottom: 16px;
  }
}
