.place {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: repeat(4, minmax(min-content, max-content));
  row-gap: 32px;
  padding-top: 50px;
  max-width: 984px;
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: 340px minmax(min-content, 1fr);
    grid-template-rows: minmax(min-content, max-content) 1fr;
    column-gap: 28px;
    padding-top: 80px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    grid-template-columns: 440px minmax(min-content, 1fr);
    column-gap: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    grid-template-columns: 460px minmax(min-content, 1fr);
    max-width: 984px;
    padding-top: 80px;
    row-gap: 48px;
    column-gap: 40px;
  }
}
