.footer {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .footer {
    width: calc(100% - 48px);
    padding-top: 88px;
    padding-bottom: 24px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    width: calc(100% - 96px);
    padding-top: 92px;
  }
}
